src/main/resources/service-api-definition/CC_WSFackta1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://pipeline_ws" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://pipeline_ws">
    <wsdl:documentation>Intershop Web Service for Fackta Integration</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pipeline_ws">
            <xs:element name="UpdateOrderStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DomainName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="OrderNumber" type="xs:long"/>
                        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="TrackingNumber" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateOrderStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="UpdateOrderStatusRequest">
        <wsdl:part name="parameters" element="ns:UpdateOrderStatus"/>
    </wsdl:message>
    <wsdl:message name="UpdateOrderStatusResponse">
        <wsdl:part name="parameters" element="ns:UpdateOrderStatusResponse"/>
    </wsdl:message>
    <wsdl:portType name="CC_WSFacktaPortType">
        <wsdl:operation name="UpdateOrderStatus">
            <wsdl:input message="ns:UpdateOrderStatusRequest" wsaw:Action="urn:UpdateOrderStatus"/>
            <wsdl:output message="ns:UpdateOrderStatusResponse" wsaw:Action="urn:UpdateOrderStatusResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CC_WSFacktaSoap11Binding" type="ns:CC_WSFacktaPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="UpdateOrderStatus">
            <soap:operation soapAction="urn:UpdateOrderStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CC_WSFacktaSoap12Binding" type="ns:CC_WSFacktaPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="UpdateOrderStatus">
            <soap12:operation soapAction="urn:UpdateOrderStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CC_WSFacktaHttpBinding" type="ns:CC_WSFacktaPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="UpdateOrderStatus">
            <http:operation location="UpdateOrderStatus"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CC_WSFackta">
        <wsdl:port name="CC_WSFacktaHttpSoap11Endpoint" binding="ns:CC_WSFacktaSoap11Binding">
            <soap:address location="http://localhost:80/INTERSHOP/servlet/WFS/Axis2/VRG-Accent-Site/CC_WSFackta.CC_WSFacktaHttpSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="CC_WSFacktaHttpSoap12Endpoint" binding="ns:CC_WSFacktaSoap12Binding">
            <soap12:address location="http://localhost:80/INTERSHOP/servlet/WFS/Axis2/VRG-Accent-Site/CC_WSFackta.CC_WSFacktaHttpSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="CC_WSFacktaHttpEndpoint" binding="ns:CC_WSFacktaHttpBinding">
            <http:address location="http://localhost:80/INTERSHOP/servlet/WFS/Axis2/VRG-Accent-Site/CC_WSFackta.CC_WSFacktaHttpEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
